# Configuration file for gaussian_collective_variable_scan.py

input_file = '1ox5_TS_3.com'

moving_atoms_list = [1,2,3,4,5,6,7,8,9,10,11,12,58,59,60,61,62,63,64,65,66,67,68,69,70,150,151,152] # This list should contain the atom numbers for each atom that you want to translate

moving_cv_group = 60  # This is the atom number for the atom that you want to create the vector that the translating atoms will be scanned along. This atom will be moved, and should also be invluded in the 'moving_atoms_list'.

stationary_cv_group = 130  # This is the atom number for the other atom that you want to create the vector that the translating atoms will be scanned along. This atom will NOT be moved. 

total_distance_to_scan = 2 # Total amount (in Angstroms) you want to translate atoms

scan_increment = 0.1 # The amount (in Angstroms) to move the translating atoms for each Gaussian calculation (total_distance_to_scan // scan_increments) will be the number of new com files generated. 



